In [1]:
# Solution 1.1 

# - Iterate a list of names to return a list of the names starting with H 

names = ("Sandra","Jessica","Heather","Alice","Hannah","Michael","Nick","Harry")
specific_names = [name for name in names if name.lower().startswith("h")]

print("Theese names starts with H : " + str(specific_names))

Theese names starts with H : ['Heather', 'Hannah', 'Harry']

In [4]:
#Solution 1.2 
# In one line create a list of the numbers 1-100 to the power of 3 
numbers = [i**3 for i in range(1,101)]
numbers

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [5]:
# Solution 1.3 
#  Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name

names2 = ("Liam","Noah","Adam","Emma","Olivia","Isabella","James","Jessica","Harry")

tuples = [(len(var), var) for var in names2]
tuples

[(4, 'Liam'),
 (4, 'Noah'),
 (4, 'Adam'),
 (4, 'Emma'),
 (6, 'Olivia'),
 (8, 'Isabella'),
 (5, 'James'),
 (7, 'Jessica'),
 (5, 'Harry')]

In [6]:
# Solution 1.4
# Iterate over each character in a string and get only those that are nummeric

string = [i for i in '7H15 PR0V3S H0W 0UR M1ND5 C4N D0 4M4Z1NG 7H1NG5' if i.isdigit()]
string

['7',
 '1',
 '5',
 '0',
 '3',
 '0',
 '0',
 '1',
 '5',
 '4',
 '0',
 '4',
 '4',
 '1',
 '7',
 '1',
 '5']

In [7]:
#Solution 1.5
# Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice
print("Theese are the combinations when throwing two dice: ")
dices = [(dice1 , dice2)for dice1 in range(1,7) for dice2 in range (1,7)]
dices

Theese are the combinations when throwing two dice:

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)]

In [8]:
#Solution 2.1
# Iterate a list of names and create a dictionary where key is the name and value is the length of the name

name_dic = {n:len(n) for n in names2}
name_dic

{'Liam': 4,
 'Noah': 4,
 'Adam': 4,
 'Emma': 4,
 'Olivia': 6,
 'Isabella': 8,
 'James': 5,
 'Jessica': 7,
 'Harry': 5}

In [3]:
#Solution 2.2
#Iterate a list of numbers and create a dictionary with (key, value) being (number, squareroot of number)
import math

numbers2 = {i:math.sqrt(i) for i in range (1,30)}
numbers2

{1: 1.0,
 2: 1.4142135623730951,
 3: 1.7320508075688772,
 4: 2.0,
 5: 2.23606797749979,
 6: 2.449489742783178,
 7: 2.6457513110645907,
 8: 2.8284271247461903,
 9: 3.0,
 10: 3.1622776601683795,
 11: 3.3166247903554,
 12: 3.4641016151377544,
 13: 3.605551275463989,
 14: 3.7416573867739413,
 15: 3.872983346207417,
 16: 4.0,
 17: 4.123105625617661,
 18: 4.242640687119285,
 19: 4.358898943540674,
 20: 4.47213595499958,
 21: 4.58257569495584,
 22: 4.69041575982343,
 23: 4.795831523312719,
 24: 4.898979485566356,
 25: 5.0,
 26: 5.0990195135927845,
 27: 5.196152422706632,
 28: 5.291502622129181,
 29: 5.385164807134504}

In [ ]:
#Solution 3.1
#Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values